{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/main.css' %}"/>
</head>
<div class="shapka text-center">
    <h3><a href="{% url 'index' %}">Реклама77</a></h3>
    <a href="{% url 'customer' %}">Клиенты</a>
    <a href="{% url 'advertisement' %}">Реклама</a>
    <a href="{% url 'broadcast' %}">Передачи</a>
    <a href="{% url 'rating' %}">Рейтинг</a>
    <a href="{% url 'calculation' %}">Расчёт</a>
</div>
<body class="text-center">
<h1>Расчёт</h1>
<div class="text-center">
    <div class="cont">
        <div class="forma">
            <h3>Расчитать стоимость</h3>
            <form class="form-inline text-center" method="GET" action="{% url 'search_cal' %}" style="width: 200px;margin-left: auto;margin-right: auto;">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" name='searchF' type="text" placeholder="Поиск" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>
            <form class="form-create" method="post" action="{% url 'calculate_cost' %}" value="" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="mb-2">Передача</label>
                <div class="mb-3">
                <select class="form-control" id="broadcast" name="selected_broadcast" style="width: 200px;margin: auto">
                {% for tvad in id_broadcast  %}
                    <option value="{{ tvad.duration }}">{{ tvad.name }}</option>
                    {% endfor %}
                </select>
                </div>
            <label class="mb-2">Время рекламы (сек)</label>
            <div class="mb-3">
                <input type="text" name="duration" id="duration" placeholder="Продолжительность (сек)">
            </div>
            <label class="mb-2">Количество повторов</label>
            <div class="mb-3">
                <input type="text" name="number_repetitions" id="number_repetitions" placeholder="Количество повторов" value="">
            </div>
            <label class="mb-2">Стоимость за одну передачу</label>
            <div class="mb-3">
                <input type="text" name="cost" id="cost" placeholder="Стоимость" value="">
            </div>
            <div class="text-center">
{#                <input type="`text`" name="id" id="id" value="{{ p }}" disable hidden>#}
                <button type="submit" class="main_button" id="btncreate">Расчитать</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            </form>
            <br>
            <div class="row" style="justify-content: center">
                {% for massage in messages %}
                    <ul class="{{ massage.tags }}">
                        {% if 'saveCU_с' in massage.tags %}{{ massage|safe }}{% else %}{{ massage }}{% endif %}
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="forma">
            <h3>Стоимость</h3>
            <form class="form-create" method="post" action="{% url 'clear_session' %}" value="" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="mb-2">Название</label>
            <div class="mb-3">
                <input type="text" readonly name="number_repetitions" id="number_repetitions" placeholder="Название" value="{% for tvad in name_broadcast  %} {{ tvad }}{% endfor %}">
            </div>
            <label class="mb-2">Время рекламы (сек)</label>
            <div class="mb-3">
                <input type="text" readonly name="number_repetitions" id="number_repetitions" placeholder="Время рекламы" value="{% for tvad in time_adv  %} {{ tvad }}{% endfor %}">
            </div>
            <label class="mb-2">Время передачи (мин)</label>
            <div class="mb-3">
                <input type="text" readonly name="number_repetitions" id="number_repetitions" placeholder="Время передачи" value="{% for tvad in time_br  %} {{ tvad }}{% endfor %}">
            </div>
            <label class="mb-2">Количество повторов</label>
            <div class="mb-3">
                <input type="text" readonly name="number_repetitions" id="number_repetitions" placeholder="Количество повторов" value="{% for tvad in number_repetitions  %} {{ tvad }}{% endfor %}">
            </div>
            <label class="mb-2">Рейтинг</label>
            <div class="mb-3">
                <input type="text" readonly name="number_repetitions" id="number_repetitions" placeholder="Рейтинг" value="{% for tvad in rating  %} {{ tvad }}{% endfor %}">
            </div>
            <label class="mb-2">Стоимость за одну передачу</label>
            <div class="mb-3">
                <input type="text" readonly name="number_repetitions" id="number_repetitions" placeholder="Стоимость за одну передачу" value="{% for tvad in cost  %} {{ tvad }}{% endfor %}">
            </div>
            <label class="mb-2">Итоговая стоимость</label>
            <div class="mb-3">
                <input type="text" readonly name="number_repetitions" id="number_repetitions" placeholder="Итоговая стоимость" value="{% for tvad in cost_end  %} {{ tvad }}{% endfor %}">
            </div>
            <div class="text-center">
{#                <input type="`text`" name="id" id="id" value="{{ p }}" disable hidden>#}
                <button type="submit" class="main_button" id="btncreate">Очистить</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            </form>
            <br>
        </div>

        <div class="info mb-3">
            <h3>Информация</h3>
                <p>Данная страница "Расчёт" содержит формы для добавления: <br>
                    нового клиента, новой передачи, добавления данных для расчёта,<br>
                    которые отобразяться в форме "Стоимость".<br>
                    Передача добавляется в форму расчета через поисковик.<br>
                    В форме поиска есть ограничения:
                    <ul class="" style="list-style-type: disc">
                        <li>отправку пустой формы</li>
                        <li>поиск несуществующей программы</li>
                    </ul>
                    В форме расчета есть ограничения на:
                    <ul class="" style="list-style-type: disc">
                        <li>отправку пустой формы</li>
                        <li>добавление времени рекламы неверного формата</li>
                        <li>добавление стоимости рекламы неверного формата</li>
                        <li>добавление количества повторов неверного формата</li>
                        <li>добавление количества повторов и времени рекламы, стоимости меньше или равного нулю</li>
                    </ul>
                    Добавления данных в форму "Стоимость" НЕВОЗМОЖНО! <br>
                    Более подробно с инструкцией можно ознакомиться по <a href="https://disk.yandex.ru/i/iTa8IC4639cbpg">ссылке</a>.
                </p>
        </div>
    </div>
</div>
<script>
    let result;
    let duration = document.getElementById('duration');
    let broadcast = document.getElementById('broadcast');
    let number_repetition = document.getElementById('number_repetitions');
    let cost = document.getElementById('cost');

    // Теперь здесб опиши коэффициенты
    {#let coefficients = {#}
    {#    90: 5,#}
    {#    60: 4,#}
    {#    30: 3,#}
    {#правильная#}
    {#    90: 7,#}
    {#    60: 5,#}
    {#    30: 2,#}
    {#    15: 1,#}
    {#}#}
        duration.addEventListener('input', function (e) {
            result = e.target.value
            if (broadcast.value !== undefined && result !== null) {
                number_repetition.value = selectCoeff(broadcast.value);// на 5 это примерно формула
            }
        })
        duration.addEventListener('input', function (e) {
            result = e.target.value
            if (duration.value !== undefined && result !== null) {
                cost.value = selectCost(duration.value);// на 5 это примерно формула
            }
        })

        let selectCoeff = function (min) {
            let res = min / 12; //было 17
            if (Math.floor(res) === 0) {
                return 1;
            }
            return Math.floor(res);
        }

        let selectCost = function (min) {
            let res = min * 44; //было 17
            if (Math.floor(res) === 0) {
                return 0;
            }
            return Math.floor(res);
        }


</script>
</body>
</html>