{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/main.css' %}"/>
</head>
<div class="shapka text-center">
    <h3><a href="{% url 'index' %}">Реклама77</a></h3>
    <a href="{% url 'customer' %}">Клиенты</a>
    <a href="{% url 'advertisement' %}">Реклама</a>
    <a href="{% url 'broadcast' %}">Передачи</a>
    <a href="{% url 'rating' %}">Рейтинг</a>
    <a href="{% url 'calculation' %}">Расчёт</a>
</div>
<body class="text-center">
<h1>Клиенты</h1>
<div class="text-center">
    <ul>
        <table style="margin: auto">
            <tbody>
            <tr>
                <th>Имя/Название</th>
                <th>Номер договора</th>
                <th>Банковские реквизиты</th>
                <th>Контактное лицо</th>
                <th>Номер телефона</th>
                <th>Кошелек</th>
            </tr>
            {% for tvad in customer_all %}
            <tr>
                <td>{{ tvad.name }}</td>
                <td>{{ tvad.contract_number }}</td>
                <td>{{ tvad.bank_details }}</td>
                <td>{{ tvad.contact_person }}</td>
                <td>{{ tvad.telephone }}</td>
                <td>{{ tvad.money }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </ul>
</div>
    <div class="cont">
        <div class="forma">
        <h3>Добавить клиента</h3>
        <form class="form-create" method="post" action="{% url 'create_customer' %}" value="" enctype="multipart/form-data">
    {% csrf_token %}
        <label class="mb-2">Имя/Наименование</label>
        <div class="mb-3">
            <input type="text" name="name" id="name" placeholder="Введите ФИ или наименование">
        </div>
        <label class="mb-2">Номер договора</label>
        <div class="mb-3">
            <input type="text" name="number" id="number" placeholder="Номер договора">
        </div>
            <label class="mb-2">Банковские реквизиты</label>
        <div class="mb-3">
            <input type="text" name="bank_details" id="bank_details" placeholder="Банковские реквизиты">
        </div>
        <label class="mb-2">Контактное лицо</label>
        <div class="mb-3">
            <input type="text" name="cont" id="cont" placeholder="Контактное лицо">
        </div>
        <label class="mb-2">Телефон</label>
        <div class="mb-3">
            <input type="text" name="tel" id="tel" placeholder="Телефон">
        </div>
        <label class="mb-2">Кошелек</label>
        <div class="mb-3">
            <input type="text" name="money" id="money" placeholder="Кошелек">
        </div>
        <div class="text-center">
            <input type="`text`" name="id_post" id="id_post" value="{{ user.id }}" disable hidden>
            <input type="`email`" name="email" id="email" value="{{ user.email }}" disable hidden>
            <input type="`text`" name="status" id="status" value="{{ 2 }}" disable hidden>
            <input type="`text`" name="achievement" id="achievement" value="{{ 'Молодец! Ты помог природе! Ей стало полегче' }}" disable hidden>
                <button type="submit" class="main_button" id="btncreate">Добавить клиента</button>
                <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
        <br>
        <div class="row mb-3" style="justify-content: center">
        {% for massage in messages %}
            <ul class="{{ massage.tags }}">
                {% if 'saveCU' in massage.tags %}{{ massage|safe }}{% else %}{{ massage }}{% endif %}
            </ul>
        {% endfor %}
    </div>
        </div>
        <div class="info mb-3">
        <h3>Информация</h3>
            <p>Данная страница "Клиенты" содержит информацию о клиентах компании,<br>
                а форма для добавления нового клиента компании находится на странице Расчёт.<br>
{#                В форме добавления нового клиента есть ограничения на:#}
{#                <ul class="" style="list-style-type: disc">#}
{#                    <li>отправку пустой формы</li>#}
{#                    <li>добавление клиента с существующим именем в систему</li>#}
{#                    <li>добавление номера телефона прикрепленного к пользователю </li>#}
{#                    <li>добавление номера телефона неверного формата </li>#}
{#                    <li>добавление суммы кошелька с невеверным форматом записи</li>#}
{#                </ul>#}
                В форме добавления нового клиента есть ограничения на:
                    <ul class="" style="list-style-type: disc">
                        <li>отправку пустой формы</li>
                        <li>добавление клиента с существующим именем в систему</li>
                        <li>добавление банковских реквизитов нечислового формата</li>
                        <li>добавление номера телефона прикрепленного к пользователю </li>
                        <li>добавление номера телефона неверного формата </li>
                        <li>добавление суммы кошелька с невеверным форматом записи и при отрицательном значении</li>
                    </ul>
                Более подробно с инструкцией можно ознакомиться по <a href="https://disk.yandex.ru/i/iTa8IC4639cbpg">ссылке</a>.
            </p>
            <div class="row mb-3" style="justify-content: center">
                {% for massage in messages %}
                    <ul class="{{ massage.tags }}">
                        {% if 'saveCU' in massage.tags %}{{ massage|safe }}{% else %}{{ massage }}{% endif %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>