{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/main.css' %}"/>
</head>
<body class="text-center">
<h3><a href="{% url 'index' %}">Реклама77</a></h3>
    <a href="{% url 'customer' %}">Клиенты</a>
    <a href="{% url 'advertisement' %}">Реклама</a>
    <a href="{% url 'broadcast' %}">Передачи</a>
    <a href="{% url 'rating' %}">Рейтинг</a>

<h1>Рейтинг</h1>
<div class="text-center">
    <ul>
        <table style="margin: auto">
            <tbody>
            <tr>
                <th>Передача</th>
                <th>Рейтинг</th>
                <th>Дата</th>
            </tr>
            {% for tvad in rating %}
            <tr>
                <td>{{ tvad.broadcast }}</td>
                <td>{{ tvad.rating }}</td>
                <td>{{ tvad.data }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </ul>
</div>
    <div class="cont">
<div class="forma">
<h3>Добавить рекламу</h3>
    <form class="form-create" method="post" action="{% url 'create_rating' %}" value="" enctype="multipart/form-data">
    {% csrf_token %}
        <label class="mb-2">Передача</label>
        <div class="mb-3">
            <select class="form-control" id="broadcast" name="broadcast" style="width: 200px;margin: auto">
                {% for tvad in broadcast %}
                    <option value="{{ tvad.id }}">{{ tvad.name }}</option>
                {% endfor %}
            </select>
        </div>
        <label class="mb-2">Рейтинг</label>
        <div class="mb-3">
            <input type="text" name="rating" id="rating" placeholder="Введите рейтинг">
        </div>
        <p><label for="id_date">Дата:</label></p>
            <input
                type="datetime-local"
                value="27-02-2018T21:10"
                name="dateR"
                id="id_dateR"
                pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        <div class="text-center">
            <label class="mb-2">Расчётные данные</label>
            <p>Передача на 90 мин. Кол-во показов</p>
            <div class="mb-3">
{#                cost = float(rating) * 250 * 1#}
                <input type="text" name="rating_br_90" id="rating_br_90" placeholder="Передача на 90 мин." value="7">
            </div>
            <label class="mb-2">Передача на 60 мин. Кол-во показов</label>
            <div class="mb-3">
{#                cost = float(rating) * 250 * 1#}
                <input type="text" name="rating_br_60" id="rating_br_60" placeholder="Передача на 60 мин." value="5">
            </div>
            <label class="mb-2">Передача на 30 мин. Кол-во показов</label>
            <div class="mb-3">
{#                cost = float(rating) * 250 * 1#}
                <input type="text" name="rating_br_30" id="rating_br_30" placeholder="Передача на 30 мин." value="2">
            </div>
            <label class="mb-2">Передача на 15 мин и меньше. Кол-во показов</label>
            <div class="mb-3">
{#                cost = float(rating) * 250 * 1#}
                <input type="text" name="rating_br_15" id="rating_br_15" placeholder="Передача на 15 мин." value="1">
            </div>
            <label class="mb-2">Стоимость рекламы на 90 сек</label>
            <div class="mb-3">
{#                cost = float(rating) * 250 * 1#}
                <input type="text" name="cost_90" id="cost_90" placeholder="Стоимость на 90 сек." value="4000">
            </div>
            <label class="mb-2">Стоимость рекламы на 60 сек</label>
            <div class="mb-3">
{#                cost = float(rating) * 250 * 1#}
                <input type="text" name="cost_60" id="cost_60" placeholder="Стоимость на 60 сек." value="2000">
            </div>
            <label class="mb-2">Стоимость рекламы на 30 сек</label>
            <div class="mb-3">
{#                cost = float(rating) * 250 * 1#}
                <input type="text" name="cost_30" id="cost_30" placeholder="Стоимость на 30 сек." value="1000">
            </div>
            <label class="mb-2">Стоимость рекламы на 15 сек и меньше</label>
            <div class="mb-3">
{#                cost = float(rating) * 250 * 1#}
                <input type="text" name="cost_15" id="cost_15" placeholder="Стоимость на 15 сек." value="500">
            </div>
                <button type="submit" class="main_button" id="btncreate">Добавить рекламу</button>
                <input type="hidden" name="next" value="{{ next }}" />
        </div>
        </form>
<br>
    <div class="row" style="justify-content: center">
        {% for massage in messages %}
            <ul class="{{ massage.tags }}">
                {% if 'saveR' in massage.tags %}{{ massage|safe }}{% else %}{{ massage }}{% endif %}
            </ul>
        {% endfor %}
    </div>
</div>
        <div class="info mb-3">
        <h3>Информация</h3>
            <p>Данная страница "Рейтинг" содержит информацию о рейтингах передач компании,<br>
                а также форму для добавления нового рейтингового показателя.<br>
                В форме добавления нового рейтинга есть ограничения на:
                <ul class="" style="list-style-type: disc">
                    <li>отправку пустой формы</li>
                    <li>добавление рейтинга неверного формата</li>
                </ul>
                В процесс добавления нового рейтингового показателя входит сохранение на Рабочем столе файла "Рейтинг",<br>
                а также вычитание из Кошелька стоимости показа рекламы высчитанной за прошедшую передачу.<br>
                Более подробно с инструкцией можно ознакомиться по <a href="https://disk.yandex.ru/i/mUleOtuw2MSOEA">ссылке</a>.
            </p>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>